/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'VT323', monospace;
    background: #FFD700;
    color: #333;
}

h1,
h2,
h3 {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
}

p,
li {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    line-height: 1.5;
}

button {
    font-family: 'VT323', monospace;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 2rem 5%;
    /* Reduz o padding vertical */
    margin-bottom: 2rem;
    /* Adiciona espaço uniforme entre as seções */
}

/* Navbar */
.navbar {
    position: fixed;
    top: 2%;
    left: 0;
    width: 96%;
    margin: 0 2%;
    background: rgba(128, 0, 128, 0.9);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 10px;
}

.navbar .home-link {
    color: #FFD700;
    text-decoration: none;
    text-shadow: 2px 2px #000;
}

.navbar h1 {
    font-size: 2rem;
    /* Tamanho maior */
    text-shadow: 2px 2px #000;
}

.navbar h1:hover {
    transform: scale(1.1);
}

/* Links da Navbar */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    /* Espaço maior entre os links */
}

.nav-links a {
    text-decoration: none;
    color: #FFD700;
    /* Cor amarela */
    font-size: 1.3rem;
    /* Aumenta o tamanho da fonte */
    text-transform: uppercase;
    /* Deixa tudo em maiúsculas */
    font-weight: bold;
    letter-spacing: 1px;
    /* Espaço entre letras */
    transition: color 0.3s ease, transform 0.2s ease;
    /* Transições suaves */
}

.nav-links a:hover {
    color: #FF4500;
    /* Cor laranja ao passar o mouse */
    transform: scale(1.1);
    /* Efeito de aumento ao passar o mouse */
    text-decoration: underline;
}

.navbar button {
    font-family: 'VT323', monospace;
    background: #FF6347;
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #000;
    transition: background 0.3s ease, transform 0.2s ease;
}

.navbar button:hover {
    background: #FF4500;
    transform: scale(1.1);
}

/* Estilização do Link para a Home */


/* Banner */
.banner {
    position: relative;
    width: 90%;
    height: 97%;
    margin: 5%;
    background: rgba(128, 0, 128, 0.85);
    border: 5px solid #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    /* Efeito pixelado */
}

/* About Section */
#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
    height: auto;
}

.description-text {
    flex: 2.1;
    background: rgba(128, 0, 128, 0.85);
    color: #fff;
    padding: 3rem;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    height: 70%;
}

.description-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.description-text p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.description-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-logo img {
    max-width: 80%;
    height: auto;
    border: 3px solid #fff;
    border-radius: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    image-rendering: pixelated;
}

/* Floating Box (Tokenomics, Roadmap, Contact) */
.floating-box {
    position: relative;
    background: rgba(128, 0, 128, 0.85);
    color: #fff;
    padding: 2rem;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    text-align: center;
}

.floating-box h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px #000;
}

.floating-box ul,
.floating-box ol {
    text-align: left;
    margin-top: 1rem;
    line-height: 1.6;
}

.tokenomics-box li {
    font-size: 1.5rem;
}

.floating-box li {
    margin: 0.5rem 0;
}

.floating-box a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s ease;
}

.floating-box a:hover {
    text-decoration: underline;
    color: #FF4500;
}

#tokenomics,
#contact {
    padding: 2rem 5%;
    height: 80%;
}

/* Seção Tokenomics */
#tokenomics {
    padding: 3rem 5%;
    text-align: center;
}

.tokenomics-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* Espaço entre o quadro superior e os inferiores */
    max-width: 1200px;
    margin: 0 auto;
}

.tokenomics-box {
    align-self: center;
    /* Centraliza o quadro superior */
    background: rgba(128, 0, 128, 0.85);
    color: #fff;
    padding: 2rem;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: transform 0.3s ease;
    max-width: 800px;
    /* Define uma largura máxima para o box superior */
}

.tokenomics-lower-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    /* Ajusta em telas menores */
    align-items: flex-start;
    /* Alinha os boxes inferiores ao topo */
}

.how-to-start,
.how-to-buy {
    flex: 1;
    min-width: 300px;
    /* Largura mínima */
    max-width: 500px;
    /* Largura máxima */
    background: rgba(128, 0, 128, 0.85);
    color: #fff;
    padding: 2rem;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: transform 0.3s ease;
}

/* Seção Roadmap */
#roadmap {
    padding: 5rem 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmap-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #000;
}

/* Novo contêiner para o fundo transparente */
.roadmap-wrapper {
    background: rgba(128, 0, 128, 0.85);
    /* Roxo com transparência */
    padding: 2rem;
    border: 3px solid #fff;
    /* Borda branca */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contêiner das Caixas */
.roadmap-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* Cada Quadrado Individual */
.roadmap-box {
    flex: 1;
    min-width: 200px;
    max-width: 280px;
    background: rgba(128, 0, 128, 0.85);
    /* Roxo translúcido */
    color: #fff;
    padding: 1rem;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;
}

.roadmap-box:hover {
    transform: scale(1.05);
    background: rgba(128, 0, 128, 1);
    /* Fundo mais forte */
}

.roadmap-box h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #000;
}

.roadmap-box p {
    font-size: 1.5rem;
    line-height: 1;
}

/* Seção Contact Icons */
#contact-box {
    height: auto;
}

.contact-icons {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    gap: 2rem;
    /* Espaço entre as imagens */
    margin-top: 0;
    /* Espaço acima das imagens */
}

.contact-icons a {
    display: inline-block;
    /* Permite ajustes nas imagens */
    transition: transform 0.3s ease;
    /* Efeito de hover */
}

.contact-icons img {
    width: 50px;
    /* Tamanho das imagens */
    height: 50px;
    object-fit: contain;
    /* Mantém a proporção da imagem */
    border: 3px solid #fff;
    /* Borda branca */
    border-radius: 50px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra */
    transition: transform 0.3s ease;
    /* Efeito de transição */
}

.contact-icons a:hover img {
    transform: scale(1.1);
    /* Efeito de aumento no hover */
    border-color: #FF4500;
    /* Cor laranja ao passar o mouse */
}

#tokenomics,
#roadmap,
#contact,
#about {
    padding: 2rem 5%;
    /* Reduz o padding interno */
    margin-top: -10rem;
    /* Remove o espaço extra acima das seções */
    margin-bottom: 2rem;
    /* Espaço uniforme entre as seções */
}

/* Botão BUY */
.buy-button {
    background: #FF6347;
    color: #fff;
    border: none;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #000;
    transition: background 0.3s ease, transform 0.2s ease;
}

.buy-button:hover {
    background: #FF4500;
    transform: scale(1.1);
}

/* Especificações para os botões BUY */
.buy-mobile {
    display: none;
    /* Escondido no desktop */
}

.buy-desktop {
    display: block;
    /* Exibido no desktop */
}

/* Botão hambúrguer */
.hamburger-menu {
    display: none;
    /* Escondido no desktop */
}

/* Responsividade Mobile */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 2%;
        left: 0;
        width: 96%;
        background: rgba(128, 0, 128, 0.9);
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        z-index: 10;
        height: 8%;
    }

    .nav-links {
        display: none;
        /* Escondido no mobile */
    }

    .nav-links.mobile {
        display: flex;
        flex-direction: column;
        background: rgba(128, 0, 128, 0.9);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        /* Ocupa toda a largura */
        padding: 1rem;
        border-top: 3px solid #fff;
    }

    .nav-links a {
        margin: 0.5rem 0;
        /* Espaço entre os links no mobile */
    }

    .navbar h1 {
        flex: 1;
        /* Garante que o título ocupe espaço proporcional */
        text-align: center;
        /* Centraliza o título */
        margin: 0;
    }

    .navbar .buy-mobile {
        height: 200%;
        width: 20%;
        padding: 0.2rem;
        /* Espaçamento interno */
        text-align: center;
        /* Centraliza o texto dentro do botão */
        align-self: center;
        font-size: 0.9rem !important;
        display: block;
        /* Aparece no mobile */
    }

    .buy-desktop {
        display: none;
        /* Escondido no mobile */
    }

    .hamburger-menu {
        display: flex;
        /* Flexbox para centralização */
        justify-content: center;
        /* Centraliza horizontalmente */
        align-items: center;
        /* Centraliza verticalmente */
        width: 0.5rem;
        /* Largura do botão */
        height: 2rem;
        /* Altura do botão */
        background: none;
        /* Remove fundo padrão */
        border: 2px solid #fff;
        /* Adiciona borda branca */
        border-radius: 8px;
        /* Arredondamento nos cantos */
        font-size: 1.5rem;
        /* Tamanho do caractere ☰ */
        color: #fff;
        /* Cor do caractere */
        cursor: pointer;
        /* Cursor de clique */
        transition: transform 0.3s ease, background-color 0.3s ease;
        /* Transição suave */
    }

    /* Efeito ao passar o mouse */
    .hamburger-menu:hover {
        background-color: rgba(255, 99, 71, 0.8);
        /* Fundo com tom laranja */
        transform: scale(1.05);
        /* Leve aumento no tamanho */
    }


    /* Banner */
    .banner {
        width: 100%;
        height: auto;
    }

    .banner img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }

    .section {
        margin-top: 4rem;
        margin-bottom: 10rem;
        height: auto;
    }

    #description {
        display: flex;
        flex-direction: column;
        /* Empilha os elementos no mobile */
        justify-content: flex-start;
        /* Alinha itens ao topo */
        align-items: flex-start;
        /* Alinha itens à esquerda */
        padding: 2rem 5%;
        /* Adiciona espaçamento interno */
        height: auto;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        /* Alinha itens verticalmente */
        gap: 1rem;
        /* Espaço entre os elementos */
        position: relative;
        /* Contexto para posicionamento absoluto */
    }

    .description-text {
        position: relative;
        padding: 2rem;
        background: rgba(128, 0, 128, 0.85);
        color: #fff;
        border: 3px solid #fff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-top: 2rem;
        width: 90%;
        font-size: 0.1rem !important;
    }

    .description-text h2 {
        font-size: 1.8rem;
        /* Reduz o tamanho do título no mobile */
    }

    .description-text p {
        font-size: 1.1rem;
        /* Ajusta o tamanho do texto */
    }

    .description-logo {
        position: absolute;
        top: 2rem;
        right: 3rem;
        transform: translate(50%, -50%);
        z-index: 5;
    }

    .description-logo img {
        max-width: 120px;
        /* Define o tamanho da logo */
        height: 120px;
        /* Mantém o formato circular */
        border: 3px solid #fff;
        /* Adiciona borda branca */
        border-radius: 50%;
        /* Garante o formato circular */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Mantém a sombra */
    }

    #tokenomics {
        margin-top: 0;
        padding: 2rem 5%;
        /* Ajusta o padding interno */
        text-align: center;
        /* Centraliza o texto no mobile */
    }

    .tokenomics-container {
        display: flex;
        flex-direction: column;
        /* Empilha os elementos verticalmente */
        gap: 1.5rem;
        /* Espaço entre os quadros */
        align-items: center;
        /* Centraliza os quadros no container */
    }

    .tokenomics-box {
        width: 100%;
        /* Ocupa toda a largura disponível */
        max-width: 95%;
        /* Define uma largura máxima */
        padding: 1.5rem;
        /* Ajusta o padding interno */
        background: rgba(128, 0, 128, 0.85);
        /* Mantém o fundo roxo */
        border: 3px solid #fff;
        /* Borda branca */
        border-radius: 15px;
        /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Sombra */
        text-align: left;
        /* Alinha o texto à esquerda */
        font-size: 1rem;
        /* Ajusta o tamanho do texto */
    }

    .how-to-start,
    .how-to-buy {
        width: 100%;
        /* Ocupa toda a largura disponível */
        max-width: 95%;
        /* Define uma largura máxima */
        padding: 1.5rem;
        /* Ajusta o padding interno */
        background: rgba(128, 0, 128, 0.85);
        /* Mantém o fundo roxo */
        border: 3px solid #fff;
        /* Borda branca */
        border-radius: 15px;
        /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Sombra */
        text-align: left;
        /* Alinha o texto à esquerda */
        font-size: 1rem;
        /* Ajusta o tamanho do texto */
    }

    .tokenomics-lower-container {
        display: flex;
        flex-direction: column;
        /* Empilha os quadros verticalmente */
        gap: 1.5rem;
        /* Espaço entre os dois quadros inferiores */
        align-items: center;
        /* Centraliza os quadros */
    }

    .tokenomics-box h2 {
        font-size: 1.8rem;
        /* Ajusta o tamanho do título */
        margin-bottom: 1rem;
        /* Espaço abaixo do título */
    }

    .tokenomics-box ul {
        padding: 0;
        margin: 0;
        list-style-position: inside;
        /* Mantém a lista dentro do box */
    }

    .tokenomics-box li {
        font-size: 1rem;
        /* Ajusta o tamanho do texto das listas */
        line-height: 1.5;
        /* Ajusta o espaçamento entre linhas */
        margin-bottom: 0.5rem;
        /* Espaço entre os itens da lista */
    }

    #roadmap {
        padding: 1rem 5%; /* Reduz o padding para telas menores */
        margin-top: 2rem; /* Espaço superior na seção */
    }
    .roadmap-container {
        display: flex;
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center; /* Centraliza os elementos */
        gap: 1.5rem; /* Espaço uniforme entre os boxes */
        width: 100%; /* Ocupa toda a largura do container */
        padding: 1rem; /* Adiciona espaçamento interno */
    }

    .roadmap-box {
        
        width: 90%; /* Define a largura dos boxes */
        max-width: 95%; /* Largura máxima */
        padding: 1.5rem; /* Ajusta o padding interno */
        background: rgba(128, 0, 128, 0.85); /* Fundo roxo translúcido */
        color: #fff; /* Texto branco */
        border: 3px solid #fff; /* Borda branca */
        border-radius: 15px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
        text-align: center; /* Texto centralizado */
        font-size: 1rem; /* Ajusta o tamanho do texto */
        transition: transform 0.3s ease; /* Animação de hover */
    }

    .roadmap-box h3 {
        font-size: 1.5rem; /* Tamanho do título ajustado */
        margin-bottom: 1rem; /* Espaço abaixo do título */
    }

    .roadmap-box p {
        font-size: 1rem; /* Ajusta o tamanho do texto das descrições */
        line-height: 1.5; /* Espaçamento entre linhas */
        margin-bottom: 0.5rem; /* Espaço entre os parágrafos */
    }

    .roadmap-box:hover {
        transform: scale(1.05); /* Leve aumento no hover */
        background: rgba(128, 0, 128, 1); /* Fundo roxo sólido */
    }
    #contact {
        padding: 1rem 5%; /* Reduz o padding para telas menores */
        margin-top: 2rem; /* Espaço superior na seção */
    }
}
